.vscode

*.apk
*.ap_

*.dex

*.class

bin/
gen/
libs/
obj/
cmake/
.cxx/
all64/
all32/
out/
build/
make/
out.*/

#only target arm64-v8a used in this project
armeabi-v7a/
x86/
x86_64/
abi-armeabi-v7a/
abi-x86/
abi-x86_64/

local.properties
project.properties

.idea
.gradle

xcuserdata
xcshareddata
*.xccheckout

*.swp
*.la
*.pc
*.lo
*.Plo
*.Po
.libs
.deps
.travis.yml
ndkBuild
tags

*.wasm
*.tmp
*.tesc
*.comp

*.a
*.so
*.jar
*.o
*.obj
*.swp
*.hprof

android-ndk-*

*.mp4
*.ts
*.tar.gz
*.pro
*.scorer
*.nb
*.zip
*.xz
*.gz
*.wav
*.bin

crash.log
kantv.jks
libggmlop-skel*.so
CMakeLists.txt

prebuilts/toolchain/android-ndk*
prebuilts/toolchain/android-sdk*
prebuilts/toolchain/emsdk/
prebuilts/Hexagon_SDK/6.2.0.1/tools/HEXAGON_Tools/8.8.06/
