.vscode

*.apk
*.ap_

*.dex

*.class

bin/
gen/
libs/
obj/
cmake/
.cxx/
all64/
all32/
out/
build/
make/
dist/
out.*/

#only target arm64-v8a used in this project
armeabi-v7a/
x86/
x86_64/
abi-armeabi-v7a/
abi-x86/
abi-x86_64/

local.properties
project.properties

.idea
.gradle

xcuserdata
xcshareddata
*.xccheckout

*.swp
*.la
*.pc
*.lo
*.Plo
*.Po
.libs
.deps
.travis.yml
ndkBuild
tags

*.wasm
*.tmp
*.tesc
*.comp

*.a
*.so
*.jar
*.o
*.obj
*.swp
*.hprof
*.dot

android-ndk-*

*.mp4
*.ts
*.tar.gz
*.pro
*.scorer
*.nb
*.zip
*.xz
*.gz
*.wav
*.bin

crash.log
kantv.jks
libggmlop-skel*.so
CMakeLists.txt

prebuilts/
core/ggml/llamacpp/ggml/src/ggml-opencl/
core/ggml/llamacpp/ggml/src/ggml-sycl/
core/ggml/llamacpp/ggml/src/ggml-virtgpu/
core/ggml/llamacpp/ggml/src/ggml-webgpu/
core/ggml/llamacpp/ggml/src/ggml-zdnn/
core/ggml/llamacpp/ggml/src/ggml-zendnn/
core/ggml/llamacpp/ggml/src/ggml-vulkan/
core/ggml/llamacpp/ggml/src/ggml-openvino/
core/ggml/llamacpp/ggml/src/ggml-sycl/
core/ggml/llamacpp/ggml/src/ggml-rpc/
core/ggml/llamacpp.bak.20260724150435/
core/ggml/llamacpp/ggml/src/ggml-hexagon/htp/ggml_dsp.h
core/ggml/llamacpp/ggml/src/ggml-hexagon/htp/ggml_dsp_skel.c
core/ggml/llamacpp/ggml/src/ggml-hexagon/htp/ggml_dsp_stub.c
log*.txt
