out
build
Android/
Android/Sdk/
toolchain/android-sdk/

deepspeech-0.9.3-models.scorer

fastspeech2_cnndecoder_csmsc_pdlite_1.3.0.zip
mb_melgan_csmsc_pdlite_1.3.0.zip

fastspeech2_cnndecoder_csmsc_pdlite_1.3.0
mb_melgan_csmsc_pdlite_1.3.0

fastspeech2_csmsc_arm.nb
mb_melgan_csmsc_arm.nb

# The minimal opencv for Android, iOS, ARM Linux, Windows, Linux, MacOS, WebAssembly
# by https://github.com/nihui/opencv-mobile
opencv-mobile-4.9.0-android.zip
ncnn-20240410-android-vulkan.zip
opencv-*.zip
ncnn-*.zip

#only target arm64-v8a used in this project
armeabi-v7a/
x86/
x86_64/
abi-armeabi-v7a/
abi-x86/
abi-x86_64/
